<header>
  <!--        <div>
       <p *ngIf="authService.isLoggedIn()">
          <button (click)="logout()">
            Logout
          </button>
       </p>
     </div> -->
</header>
<div class="container">

  <!--
      <h2>Envía un mensaje para probar el cifrado</h2>
      Mensaje: <input [(ngModel)]="mensaje" type="string" placeholder="Mensaje"/>*
      <p *ngIf="errorMensaje" style="color:#FF0000;">
          Debes escribir un mensaje
      </p>
      <p>
          <input type="submit" value="Enviar" (click)="enviar()"/>
          <h2>Envía tu nombre para validar</h2>
          Mensaje: <input [(ngModel)]="mensajeVerif" type="string" placeholder="MensajeValidado"/>*
          <p *ngIf="errorMensaje" style="color:#FF0000;">
              Debes escribir un mensaje
          </p>
          <p>
              <input type="submit" value="EnviarValidado" (click)="enviarValidado()"/>
              </p> -->
<!--
  <h2>Escoge a un candidato</h2>
  Mensaje: <input [(ngModel)]="voto" type="string" placeholder="Voto" />
  <p *ngIf="errorMensaje" style="color: #ff0000">Debes escribir un mensaje</p>
  <p>
    <input type="submit" value="FirmaCiega" (click)="firmaCiega()" />
  </p> -->



  <h2>Escoge a un candidato</h2>
  <label for="Jordi">
  <input
    type="radio"
    id="Jordi"
    [(ngModel)]="voto"
    name ="jordi"
    value="Jordi"
  >
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Jordi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img  src="../../assets/jordi1.jpeg" width="130" height="100"></label><br/>
  <label for="Carlos">
  <input
    type="radio"
    id="Carlos"
    [(ngModel)]="voto"
    value="Carlos"
  />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Carlos &nbsp;&nbsp;&nbsp;&nbsp; <img src="../../assets/carlos.jpeg" width="130" height="100"></label><br />
   <label for="Marc">
  <input
    type="radio"
    id="Marc"
    [(ngModel)]="voto"
    value="Marc"
  />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Marc &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="../../assets/marc.jpeg" width="130" height="100"></label>
  <p *ngIf="errorMensaje" style="color: #ff0000">Debes de seleccionar un candidato</p>
  <p>
    <input class="btn btn-primary" type="submit"  value="Firmar y Votar" (click)="firmaCiega()" >
  </p>
</div>


<!--   <div class="row">
      <div class="col-md-4"></div>
    <div  class="example-button-row col-md-8">
      <button (click)="nuevoResultado()" class="btn btn-primary" >Añadir Nuevo Resultado Clínico</button>
    </div>
  </div> -->
